<link rel="stylesheet" href="../../css/style.css">

<div class="box text-center">
  <h2><%= @question %> </h2>
  <span>- You </span>
</div>

<div class="box text-center6">
  <h2><%= @answer %></h2>
  <span>- Your coach</span>
</div>
